.video{

    position: relative;
    width: 20%;
    display: inline-block;
    justify-content: center;
     align-items: center;
     transition: all 0.5s ease-in-out;
    }
    .contenedor2
    {
        position: relative;
        display: block;
        
        justify-content: center;
        align-items: center;
       
        margin-left: auto;
       
        width: 100%;
        height: auto;
        
        
    }


  @media screen and (max-width: 1134px)
  {

    .contenedor{

      
      margin-left: 2%;
      background-color: rgba(0, 0, 0, 0.514);
      border-radius: 2em;
    }
   

    


  }
  @media screen and (max-width: 1420px)
  {

   
    ul{
     
   display: none;
    }
   .cabecera{
     display: none;
   }

    
    .contenedor{
      background-color: rgba(0, 0, 0, 0.514);
      border-radius: 2em;
      margin: auto;
      

    }
    .contenedorlogo{
      
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    #logo.logo{
      margin: auto;
      width: 70%;
    }
  }

  @media screen and (max-width: 1420px){
    
    .video{
      width:50%;
    }   
  }
  
  @media screen and (max-width: 607px)
  {

    .contenedor{

       font-size: 0.8em;
      margin-left: 1%;
      margin: auto;
      padding: 0.5em;
     
      
    }

    .boton,.boton2{
      display: block;
      justify-content: center;
      margin: auto;
      margin-bottom: 30px;
    }

    ul li{
      margin-left: 50px;
    }

  }

 