.mini
{
  height: 200px;  
  width: 40%; 
}


.mail{
    font-size: 1.8em;

}

 @media screen and (max-width: 1134px)
  {

    .contenedor{

      
      margin-left: 2%;
      background-color: rgba(0, 0, 0, 0.514);
      border-radius: 2em;
    }

   
   

    


  }
  @media screen and (max-width: 1420px)
  {

   
    ul{
     
   display: none;
    }
   .cabecera{
     display: none;
   }

    
    .contenedor{
      background-color: rgba(0, 0, 0, 0.514);
      border-radius: 2em;
      margin: auto;
      

    }

    .contenedorlogo
    {
      
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .logo{
      margin: auto;
      width: 70%;
    } 



  }

  @media screen and (max-width: 1024px )
  {

    .mini,.screentoleft{
      width: 100%;
      border-radius: 0;
      font-size: 0.8em;
    }
   
    ul{
     
   display: none;
    }
   .cabecera{
     display: none;
   }

    
    .contenedor{
      background-color: rgba(0, 0, 0, 0.514);
      border-radius: 2em;
      margin: auto;
      

    }
  }
  @media screen and (max-width: 607px)
  {

    .contenedor{

       font-size: 0.8em;
      margin-left: 1%;
      margin: auto;
      padding: 0.5em;
     
      
    }

    .boton,.boton2{
      display: block;
      justify-content: center;
      margin: auto;
      margin-bottom: 30px;
    }

    ul li{
      margin-left: 50px;
    }

    .mini{
      width: 100%;
      border-radius: 0;
      font-size: 0.8em;
    }


  }

  .video{

    position: relative;
    width: 40%;
    display: inline-block;
    justify-content: center;
     align-items: center;
    }
    .contenedor2
    {
        position: relative;
        display: block;
        
        justify-content: center;
        align-items: center;
       
        margin-left: auto;
       
        width: 100%;
        height: auto;
        
        
    }
  

  

  /* @media screen and (max-width: 1024px)
  {
    .logo
    {
      display: block;
      transform: translate(40%);
      position: relative;
      width:50%;
    padding: 1.5em;
    margin: auto;

    }
  } */
