*{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

body {
    
    width:100%;
    margin:auto;
    overflow-x: hidden;
    background-color:aliceblue;
  
    
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cabecera{
    position: absolute;
    
 
    align-items: center;
   background-color: rgba(255, 255, 255, 0.3);
  
    
    width: 100%;
    height: 2em;
    padding-top: 3em;;
    top: 11%;
    margin: 0;
    box-shadow: 0 8px 12px -12px rgba(13, 15, 160, 0.377) inset;
    justify-content: center;
    align-items: center;
    transition: border-radius 1s ease-in-out, background-color 0.1s ease-in-out;

  
z-index: 1040;

  
}

ul
{

    position: absolute;
    top: 0;;
    left: 0;
    width: 100%;
    height: 50px;
    display: flexbox;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;

}

ul li{
    width: auto;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.2em;
    padding: 0.3em 1.5em;
    margin-top: 0.1em;
    border-radius: 0.5em;
    transition: all 0.5s  ease-in-out;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;

}

#ulghost
{
    opacity:1;
    transition:all 2s ease-in-out;
    
    }


li:hover{
    
    color:rgb(20, 145, 207);
}

.logo{
    position: absolute;
    float: left;
    width: 6.5em;
    height: auto;
   z-index: 99999;
   
   
    height: auto;
   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:left;
    padding: 1em;
    border-radius:50%;
    background-color: white;
    box-shadow: 6px 12px 6px -6px rgba(0, 0, 0, 0.6), -6px -6px 12px 0 rgba(0,0,0,0.2)  inset;
    transition: all 0.5s ease-in-out;
    
}

.logo img {
    width: 100%; 
    position: relative;
}



.fondo, .fondo2{
    
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
     margin-top: 200px;
    height: 600px;;

   
    width: 100%;
   
    background-color: blue;
    background-image: url(images/font.svg);
    background-size: cover;
    border-radius: 0 0 12px 12px;

    font-size: 3em;
    color: white;
    background-color: aqua;
    font-family: "Dosis";

    box-shadow: 6px 12px 6px -6px rgba(0, 0, 0, 0.418) inset;
}

.fondo2{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 1800px;
    margin: 0;
    background-image: url(../images/banner.png);
    position: absolute;
    top:60px;

}

@keyframes downHeader
{
    from
     {
      margin-top:-600px;

    }

    to{
        margin-top:0;
    }
}

.contenedor
{
  

    display: flex;
    flex-direction: row;
    width:70%;
    height: 50px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

.column{
    flex-direction: row;
}

.contenedor:first-child{
    margin-top: 300px;
    margin-bottom: 100px;
}






.space{
    margin-bottom: 200px;
}

.space:first-child{
    margin-top: 200px;
}

.welcome{
    
   
    
    
    font-size: 3vw;;
    text-align: center;

    font-family: "Quicksand";
    color: black;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    padding:0.8em;
    background-color:rgba(255,255,255,0.5);
    border-radius: 30px;
    padding-right: 0em;
    

    
}

.red{
    color:red;
    border-radius: 0 30px 30px 0;
    padding-left: 0.2em;
    padding-right: 0.7em;
    
}




  .menulateral
  {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    right:0;
    top: 30px;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s all ease-in-out;
    opacity: 0;
    border-radius: 30px 30px 0 0 ;
    overflow:hidden;

  }




  .menulateral ul {
     
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    text-align: center;
    list-style-type: none;
    padding: 0px;
  }
  .menulateral ul li {
    width: calc(60% - 15px);
    height: auto;
    margin: 0 15px 20px 0;
    color: #FBFBFB;
  }

 .menulateral ul li:hover{
    
    color:rgb(20, 145, 207);
    
}
  ul li.ad {
    background-color: #ff00d8;
  }


  

  .hamburger
  {
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 20px;
    background-color: white;
    top: 100px;
    right: 20px;

    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  .hamburger:before{
      content: "";
      position: relative;
      display: block;
      width: 0%;
      height: 100%;
      margin-top: -10px;
      background-color: white;
      border-radius: 20px;
      transition: 0.6s all ease-in-out;



  }

  .hamburger:after{
    content: "";
    position: relative;
    display: block;
    width: 0%;
    height: 100%;
    margin-top: 14px;
    background-color: white;
    border-radius: 20px;
    transition: 0.7s all ease-in-out;

}

.trigger{
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: black;
    top: -14px;
    right: 0px;
    opacity:0;
    transition: 0.5s all ease-in-out;
}
  
.close{
    display: flex;
    position: absolute;
    top: 0;
    background-color: rgb(247, 104, 64);
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;

    
}


 @media screen and (max-width: 1920px)
 {
   .logo{
     width: 6.5em;
   }

 }
  @media screen and (max-width: 1300px)
  {

   
    ul{
     
   display: none;
    }
   .cabecera{
     display: none;
   }

   .hamburger{
    opacity: 1;
    
    
   }

   .hamburger::before{
    width: 100%;
   }

   .hamburger::after{
    width: 100%;
   }


   .contenedor{
     margin-top: 150px;
   }

   .menulateral{
     opacity: 1;
   }

  


    

  }
  @media screen and (max-width: 607px)
  {


    .boton,.boton2{
      display: block;
      justify-content: center;
      margin: auto;
      margin-bottom: 30px;
    }

    ul li{
      margin-left: 50px;
    }

    .contenedor{
     margin-top: 150px;
     width: 100%;
    }

    .contenedor p{
      font-size: 0.7em;
    }

   .logo{
     padding: 1em;
     width: 6em;
   }

  }
   
  



 @media screen and (min-width: 1301px)
 {
   

 }
  @media screen and (max-width: 1300px)
  {

   
    ul{
     
   display: none;
    }
   .cabecera{
     display: none;
   }

   .hamburger{
    opacity: 1;
    
    
   }

   .hamburger::before{
    width: 100%;
   }

   .hamburger::after{
    width: 100%;
   }


   

   .menulateral{
     opacity: 1;
   }

   .contenedor{
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor{
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor:first-child{
      margin-top: 100px;
      margin-bottom: 40px;
    }

    .column{
      flex-direction: column;
    }

    .direction{
      margin-bottom: 0.8em;
    }

  


    

  }
  @media screen and (max-width: 607px)
  {


    .boton,.boton2{
      display: block;
      justify-content: center;
      margin: auto;
      margin-bottom: 30px;
    }

    ul li{
      margin-left: 50px;
    }

    .contenedor{
     margin-top: 150px;
     width: 100%;
    }

    .contenedor p{
      font-size: 0.7em;
    }

   .logo{
     padding: 1em;
     width: 6em;
   }

   .contenedor{
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor:first-child{
      margin-top: 40px;
      margin-bottom: 40px;
    }


  }


   
   @media screen and (max-width: 601px)
  {

    .logo{
      width: 6em;
      padding: 1em;
     
    }

    .contenedor{
        width: 100%;
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor:first-child{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .welcome{
        font-size: 1vw;
        padding: 0.2em;
    }

   


  }

  @media screen and (max-width: 320px )
  {

    .logo{
      width: 6em;
      padding: 1em;
     
    }
    .contenedor{
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor:first-child{
      margin-top: 100px;
      margin-bottom: 40px;
    }


    


  }

  @media screen and (max-width: 360px )
  {

    .logo{
      width: 5em;
        padding: 1em;
     
    }

    .contenedor{
      height: auto;
      margin-top: 20px;
     
    }

    .contenedor:first-child{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .column{
      flex-direction: column;
    }

    .direction{
      margin-bottom: 0.8em;
    }
    

  

  }


  .direction{
  
display: inline-block; 
  font-size:0.35em;
  padding:0.6em;
  border-radius:5px; 
  border:none;
  margin-right: 0.6em;   
      }
