*
{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

body
{
  width:100%;
  margin:auto;
  overflow-x: hidden;
  background-color:aliceblue;
}


#map
{ 
  display: block;
	width: 100%;
  height: 700px; 
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mensajeros select
{
  font-size: 1em;
}

.cabecera
{
  position: absolute;
  align-items: center;
  background-color: rgba(231, 72, 72, 0.3);
  width: 100%;
  height: 2em;
  padding-bottom: 3em;;
  top: 11%;
  margin-top: 0;
  box-shadow: 0 12px 30px -12px rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  transition: border-radius 1s ease-in-out, background-color 0.1s ease-in-out;
  z-index: 999999;
}

ul
{
  position: absolute;
  top: 0;;
  left: 0;
  width: 100%;
  height: 50px;
  display: flexbox;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
}

ul li
{
  width: auto;
  display: inline-flex;
  flex-direction: row;
  font-size: 1.2em;
  padding: 0.3em 1.5em;
  margin-top: 0.1em;
  border-radius: 0.5em;
  transition: all 0.5s  ease-in-out;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#origen, #destino
{
  display: flex;
  position: relative;
  font-size: 0.4em;
  font-weight: bolder;
  background-color:rgb(226, 60, 42);
  padding: 0.4em;
  width: 4em;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  margin-right: 0.2em;;
}

#origen::after,#destino::after
{
  content: "";
  display: block;
  position: absolute;
  right: -0.20em;
  top: 0.65em;
  z-index: -1;
  width: 0.65em;
  height: 0.65em;
  background-color: rgb(226, 60, 42);
  transform: rotate(45deg);
  border-radius:0px 2px 0 0;
}

#destino
{
  margin-right: -0.1em;
}

#destino::after
{
  right: 0;
  left: -0.2em;
}

#ulghost
{
  opacity:1;
  transition:all 2s ease-in-out;
}

.cabecera ul li:hover
{
  color: black;
  text-shadow: 0 0 12px white;
}

.logo
{
  position: absolute;
  float: left;
  width: 9em;
  height: auto;
  z-index: 99999;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:left;
  padding: 1em;
  border-radius:50%;
  background-color: white;
  box-shadow: 6px 12px 6px -6px rgba(0, 0, 0, 0.6), -6px -6px 12px 0 rgba(0,0,0,0.2)  inset;
  transition: all 0.5s ease-in-out;
  margin-top: 60px;  
  z-index: 9999999;
}

.logo img 
{
  width: 102%; 
  position: relative;
}

.fondo, .fondo2
{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 600px;
  width: 100%;
  background-image: url(images/font.svg);
  background-size: cover;
  border-radius: 0 0 12px 12px;
  background-repeat: no-repeat;
  
  color: white;
  font-family: "Dosis";
  box-shadow: 6px 12px 6px -6px rgba(0, 0, 0, 0.418) inset;
}

.fondo2
{
  top: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 1800px;
  margin: 0;
  background-image: url(../images/2963.png);
  position: absolute;
}

@keyframes downHeader
{
  from
  {
     margin-top:-600px;
  }
  to
  {
    margin-top:0;
  }
}

.contenedor,.contenedor2
{
  display: flex;
  flex-direction: row;
  width:70%;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;  
  margin-top: 25px;
  font-size: 3em;
}

.contenedor2
{
 
  width:100%;
  font-size: 3em;
 
}

.map
{
  height: 700px;
  width: 100%;
 
  padding: 0.5em;
  background-color: rgba(240, 248, 255, 0.432);
  border-radius: 0.5em; 
  z-index: 99;
  box-shadow: 0 12px 30px -12px rgba(231, 72, 72, 0.555);
  z-index: 9999;

}

.contenedor:first-child
{
  margin-top: 300px;
  margin-bottom: 100px;
}

.space
{
  margin-bottom: 200px;
}

.space:first-child
{
  margin-top: 200px;
}

.welcome,.titulos
{
  font-size: 3vw;;
  text-align: center;
  font-family: "Quicksand";
  color: black;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  padding:0.5em;
  background-color:rgba(255,255,255,0.8);
  border-radius: 30px;    
  padding-right: 0em;  
}

.titulos{
  font-size: 0.7em;
  background-color: transparent;
}



.red
{
  color:hsl(0, 97%, 56%);
  font-weight: bolder;
  border-radius: 0 30px 30px 0;
  padding-left: 0.2em;
  padding-right: 0.7em;   
}

.menulateral
{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  right:0;
  top: 30px;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s all ease-in-out;
  opacity: 0;
  border-radius: 30px 30px 0 0 ;
  overflow:hidden;
  z-index: 99999999;
}
.menulateral ul 
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

.menulateral ul li 
{
  width: calc(60% - 15px);
  height: auto;
  margin: 0 15px 20px 0;
  color: #FBFBFB;
}

.menulateral ul li:hover
{
  color:rgb(72, 69, 231); 
}

ul li.ad 
{
  background-color: #ff00d8;
}

.hamburger
{
  position: absolute;
  width: 50px;
  height: 6px;
  border-radius: 20px;
  background-color: white;
  top: 100px;
  right: 20px;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.hamburger:before
{
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  margin-top: -10px;
  background-color: white;
  border-radius: 20px;
  transition: 0.6s all ease-in-out;
}

.hamburger:after
{
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  margin-top: 14px;
  background-color: white;
  border-radius: 20px;
  transition: 0.7s all ease-in-out;
}

.trigger
{
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: black;
  top: -14px;
  right: 0px;
  opacity:0;
  transition: 0.5s all ease-in-out;
}
  
.close
{
  display: flex;
  position: absolute;
  top: 0;
  background-color: rgb(247, 104, 64);
  color: black;
  width: 100%;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;  
}

  
@media screen and (max-width: 1300px)
{
  ul
  {
    display: none;
  }
  .cabecera
  {
    display: none;
  }
  .hamburger
  {
    opacity: 1;
  }
  .hamburger::before
  {
    width: 100%;
  }
  .hamburger::after
  {
    width: 100%;
  }
  .menulateral
  {
    opacity: 1;
  }
  .selector
  {
    width: 700PX;
  }
  .direction
  {
    width: 100%;
    padding: 3em;
    font-size: 0.2em;
  }

  .notvisible
  {
    display: none;
    width: 0;

  }


  #submit1,#submit2
  {
    padding: 0.5em;
    font-size: 0.3em;
  }
  .direction:placeholder-shown
  {
    font-size: 0.3em;
  }
  .logo
  {
    margin-top: 10px;
  }
  .contenedor
  {
    width: 100%;
  }
  .welcome
  {
  display: none;
  }

  .divide{
    display:flex;
    flex-direction: column;
    width: 100%;
  }

  .left,.right,.contenedor2{
    width: 100%;
  }

  .selector{
    width: 600px;
  }


}

.info
{
  display:flex;
  flex-direction: column;
  width: 80%;
  height: 70px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 1.5em;
  margin-top: 1em;
  border: white 0.2em red;
  transition: all 0.5s ease-in-out;
}

.info p
{ 
  margin-top: 1em;
  margin-left: 1.5em;
  transition: all 0.5s ea;


}
  
.direction
{
  width: 47%;
  display: inline-block; 
  font-size:0.35em;
  padding:0.6em;
  border-radius:5px; 
  border:none;
  margin-right: 0.6em;   
}

.selector
{
  display:block;
  margin-top: 0.4em;
  width: 70%;
  padding: 1em;;
  border:0px;
  outline: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.selector option:first-child
{
  font-weight: bolder;
}

#norm1,#norm2,#normalizada1,#normalizada2
{
  transition: all 0.5s ease-in-out;
  height: 0;
  margin: 0;
}

i{
  position: relative;
  top: 0;
  margin-right: 0.6em;
  margin-left: 0.3em;
  text-shadow: none;
  color: black;
}
.mini
{
  font-size: 0.6em;
}
.total
{
  width: 100%;
}
.total2
{
  width: 50%;
}

.total3
{
  width: 96%;
}

.ayuda
{
  position: relative;
  display: flex;
 border-radius: 0.3em;
 font-size: 0.4em;
 width: 2em;
 height: 2em;
 border: 1px black;
 transition: all 0.3s ease-in-out;
 font-weight: bolder;
 
 justify-content: center;
 align-items: center;
 text-align: center;
 outline: 0px;
 z-index: 99999;
 
}

.ayuda:hover{
  transform: scale(1.1);
  color: rgb(245, 80, 80);
}

.ayuda:hover::after{
  opacity: 1;
}

.ayuda::after
{

  display: flex;
  font-size: 0.6em;
  padding:30%;
  content: attr(data-value);
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
  position: absolute;
  right: -480%;
  top: -2px;
  width: 400%;
  height: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  outline: none;
  z-index: 99999;
}

.tercio
{
border-radius: 12px;
padding: 1em;;
}

.oculto1,.oculto2,.oculto3,.oculto4{
  margin-top: 0;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.desplegado1,.desplegado2,.desplegado3,.desplegado4{
  margin-top: 25;
  opacity: 1;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

#oculto1,#oculto2,#oculto3{
 
  margin-left: 0.65em;
}
#mas{
  margin-left: 0.75em;
}
#oculto1::after,#oculto2::after,#oculto3::after
{
  position: relative;
  font-size: 0.4em;
content: "cm";
right: 50px;
color: grey;
}

.asignacion
{
  width: 10em;
  height: 92%;
  font-size: 1em;
  display: flex;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 0.2em;
  right:0;
  top: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 1em 0 0 1em;
  
  animation-duration: 0.2s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
}


.divide
{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;

}

.divide .left
{
  display: inline-flex;
  flex-direction: column;
  width: 39%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: c;

}

.divide .right
{
  display: inline-flex;
  width: 59%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: c;
}



